.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.item {
  border: 1px solid #000;
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
